//////////////////////////// Colors //////////////////////////

//main elements
$primary : #192a56;
$white: #ffffff;
$background: #f5f6fa;
$font-main-color: #353b48;
$font-secondary-color: #718093;


//	buttons
$btn-dark-color: #192A56;
$btn-dark-hover: #7e749e;

$btn-light-color: #192A56;
$btn-light-hover: #6e649d;

//  edit and inputs
$input-primary-background: #ffffff;
$input-secondary-background: #f5f6fa;

////////////////////////// Fonts /////////////////////////////

// main font
$main-font: PT Sans, sans-serif;

///////////////////////// Main Variables ////////////////////

// navbar
$nvb-padding: 0.2em;
$nvb-input-mrg: .5em;
